
DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI {
  padding: 0 .3em 0 0;
}
DIV.csc-textpic DIV.csc-textpic-single-image IMG {
  margin-bottom: 0;
}
DIV.csc-textpic-clear {
  padding-bottom: 1em;
}

div.listview-47677 div.tx_route-cat-icon DIV.csc-textpic-imagewrap,
div.singleview-47677 div.tx_route-cat-icon DIV.csc-textpic-imagewrap {
  clear:none;
}

div.singleview-47677 DIV.csc-textpic-left div.tx_route-cat-icon DIV.csc-textpic-imagewrap,
div.singleview-47677 DIV.csc-textpic-intext-left-nowrap div.tx_route-cat-icon DIV.csc-textpic-imagewrap {
  float:left;
  padding-right:1em;
}
div.singleview-47677 DIV.csc-textpic-right div.tx_route-cat-icon DIV.csc-textpic-imagewrap,
div.singleview-47677 DIV.csc-textpic-intext-right-nowrap div.tx_route-cat-icon DIV.csc-textpic-imagewrap {
  float:right;
  padding-left:1em;
}

div.sbmFloatRight {
  float:right;
  padding-left:1em;
}

p.tx_route-backbutton {
  text-align: right;
}
